/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
    width:1366px;
    margin:0 auto;
}
/*----- Header -----*/
.header-wrapper{
    width:1088px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    z-index:3;
    margin:30px 139px;
}
header a{
    color:white;
}
.zetta-hotels{
    font:bold 14px poppins;
}
.nav-list nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width:561px;
    margin-left:400px;
}
.nav-list ul li{
    font:700 12px poppins;
    text-transform: uppercase;
}
.active{
    color:#5863F8;
}
.not-active{
    -webkit-animation:cimcima 1.19s linear infinite;
            animation:cimcima 1.19s linear infinite;
}
.header-wrapper i{
    display: none;
    position:relative;
}
.header-box{
    position:absolute;
    z-index:3;
    margin-top:146px;
    margin-left:139px;
}
.header-box h1{
    color:white;
    font:bolder 42px poppins;
}
.divided{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top:15px;
}
.divided a{
    font:14px poppins;
}
.divider{
    height:16px;
    vertical-align:bottom;
    background-color:white;
    width:1px;
    margin:0 15px;
}
.background-img{
    width:1366px;
    position:relative;
}
.background-img img{
    width:100%;
    -webkit-filter: brightness(40%);
            filter: brightness(40%);
}
/*----- 1st Section-page1 -----*/
.sec1-container{
    margin:90px auto;
    height:461px;
    width:1088px;;
    display: -webkit-box;;
    display: -ms-flexbox;;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.mini-container{
    width:48%;
}
.left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.left img{
    height:100%;
}
.pictures-wrapper{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left:2%;
}
.pictures-wrapper img{
    width:100%;
}
.img-divider{
    height:5%;
}
.right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.right .text-wrapper{
    width:444px;
}
.text-wrapper h4{
    font:bold 14px poppins;
    color:#5863F8;
}
.text-wrapper h2{
    font:bolder 42px/56px poppins;
}
.p1{
    margin-top:10px;
    font:500 16px/25px poppins;
}
.p2{
    margin-top:10px;
    font:14px/21px poppins;
}
.read-more{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top:10px;
    width:40%;
    height:10%;
    background-color:#5863F8;
    font:500 14px poppins;
    color:white;
    border-radius:5px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}
.button-arrow{
    width:20px;
    height:20px;
    margin-left:10px;
    -webkit-transition:0.79s;
    -o-transition:0.79s;
    transition:0.79s;
}
/*----- 2nd Section-page1 -----*/
.sec2-container{
    margin:0 auto;
    width:1088px;
}
.sec2-container .text-wrapper{
    width:498px;
    margin-bottom:20px;
}
.boxes-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.box{
    margin-top:21px;
    background-color:rgb(238, 237, 237);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width:49%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.box img{
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.box-text{
    height:100%;
    margin-left:25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width:260px;
}
.box-text h4{
    font:bold 14px poppins;
    color:#5863F8;
}
.box-text h3{
    font:700 18px poppins;
}
.box-text p{
    color:#949292;
    font:14px/21px poppins;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.arrow{
    background-color:#5863F8;
    font-size:25px;
    width:60px;
    height:60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    margin-bottom:0;
}
.arrow a{
    color:white;
}
/*-----3th Section- Form-page 1- -----*/
.page1-form{
    width:100%;
    background-color:#F8F8F8;
    margin-top:92px;
    height:190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.form-p1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width:1088px;
    margin:0 auto;
}
.form-wrapper-p1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.form-wrapper-p1 input{
    height:60px;
    width:260px;
    border:2px solid #EBEBEB;
}
.form-wrapper-p1 label{
    font:600 13px poppins;
    color:#5863F8;
}
.form-wrapper-p1 input::-webkit-input-placeholder{
    color:#ccc5c5;
    margin-left:100px;
    font:13px poppins;
    text-indent: 12px;
}
.form-wrapper-p1 input::-moz-placeholder{
    color:#ccc5c5;
    margin-left:100px;
    font:13px poppins;
    text-indent: 12px;
}
.form-wrapper-p1 input:-ms-input-placeholder{
    color:#ccc5c5;
    margin-left:100px;
    font:13px poppins;
    text-indent: 12px;
}
.form-wrapper-p1 input::-ms-input-placeholder{
    color:#ccc5c5;
    margin-left:100px;
    font:13px poppins;
    text-indent: 12px;
}
.form-wrapper-p1 input::placeholder{
    color:#ccc5c5;
    margin-left:100px;
    font:13px poppins;
    text-indent: 12px;
}
.button-wrapper-p1 button{
    height:60px;
    width:260px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color:#5863F8;
    color:white;
    border:2px solid #EBEBEB;
    font:13px poppins;
    margin-top:20px;
    -webkit-transition:1s;
    -o-transition:1s;
    transition:1s;
}
.button-wrapper-p1 button i{
    margin-left:10px;
}
/*----- 4th Section -----*/
.sec4-container{
    margin-top:90px;
    width:100%;
}
.sec4-container .text-wrapper{
    margin-left:139px;
    width:565px;
}
.photos-wrapper{
    margin-top:90px;
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
/*----- Footer -----*/
footer{
    background-color:#121212;
}
.footer-container{
    width:100%
}
.footer-list{
    padding-top:90px;
}
.footer-list ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width:80%;
    margin:0 auto;
}
.footer-list ul li h2{
    font:bold 24px poppins;
    color:white;
}
.footer-list ul li h3{
    font:700 18px poppins;
    color:white;
}
.footer-list ul li p{
    font:14px/21px poppins;
    color:#B1B1B1;
    width:260px;
    margin-top:10px;
}
.social-icons-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top:20px;
    width:127px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
} 
.icon-circle{
    border-radius: 17.5px;
    width:35px;
    height:35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 2.5s;
    -o-transition: 2.5s;
    transition: 2.5s;
}
.icon-circle a{
    color:white;
}
.fb{
    background-color:#3B5998;
}
.tw{
    background-color:#55ACEE;
}
.g{
    background-color:#DC4E41;
}
.footer-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer-links li{
    width:200px;
    margin-top:10px;
    margin-left:-15px;
}
.footer-links a{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-transition:0.8s;
    -o-transition:0.8s;
    transition:0.8s;
    font:14px poppins;
    color:#5863F8;
    height:20px;
}
.footer-links i{
    color:#5863F8;
    -webkit-transition: 0.79s;
    -o-transition: 0.79s;
    transition: 0.79s;
}
span{
    margin-left:10px;
}
.last-row{
    width:80%;
    margin:0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font:14px poppins;
    margin-top:54px;
    padding-bottom:20px;
}
.copyright{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:#B1B1B1;
}
.copyright a,
.website a{
    color:#5863F8;
    -webkit-transition: 1.49s;
    -o-transition: 1.49s;
    transition: 1.49s;
}
 /*------ 1st Section- Map-page2 ------*/
 .map{
    width:1088px;
    margin:50px auto;
    height:286px;
 }
 .map iframe{
    width:100%;
    height:100%;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
 }
 /*----- 2nd Section-page2 ------*/
 .sec2-container-p2{
    width:1088px;
    margin:50px auto;
 }
 .sec2-container-p2 .text-wrapper{
     width:378px;
 }
 .form-p2{
    margin-top:50px;
    width:100%;
    height:288px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }
 .textarea textarea{
    width:720px;
    height:100%;
    border: 2px solid #CECECE;
    resize:none;
    background-color:#f5f1f1;
 }
.inputing{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.inputing input{
    width:352px;
    height:60px;
    background-color:#f5f1f1;
    border:2px solid #CECECE;
}
textarea::-webkit-input-placeholder, .inputing input::-webkit-input-placeholder{
    padding-top:10px;
    text-indent:12px;
    font-size:13.98px;
    font-family:poppins;
    color:#b9b7b7;
 }
textarea::-moz-placeholder, .inputing input::-moz-placeholder{
    padding-top:10px;
    text-indent:12px;
    font-size:13.98px;
    font-family:poppins;
    color:#b9b7b7;
 }
textarea:-ms-input-placeholder, .inputing input:-ms-input-placeholder{
    padding-top:10px;
    text-indent:12px;
    font-size:13.98px;
    font-family:poppins;
    color:#b9b7b7;
 }
textarea::-ms-input-placeholder, .inputing input::-ms-input-placeholder{
    padding-top:10px;
    text-indent:12px;
    font-size:13.98px;
    font-family:poppins;
    color:#b9b7b7;
 }
textarea::placeholder,
.inputing input::placeholder{
    padding-top:10px;
    text-indent:12px;
    font-size:13.98px;
    font-family:poppins;
    color:#b9b7b7;
 }
.button-wrapper-p2 button{
    width:352px;
    height:60px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color:#5863F8;
    color:white;
    font:14px poppins;
    -webkit-transition:1s;
    -o-transition:1s;
    transition:1s;
    border:none;
}
.button-wrapper-p2 button i{
    margin-left:10px;
}
/*----- 3th Section-page2 -----*/
.sec3-container-p2{
    margin-top:50px;
    width:1088px;
    margin:0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height:145px;
}
.icon-box{
    height: 100%;
    width:33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.icon-box h3{
    font:600 18px poppins;
}
.icon-box a p{
    font:14px poppins;
    color:#B1B1B1;
    -webkit-transition:1s;
    -o-transition:1s;
    transition:1s;
}
.circle{
    background-color:#5863F8;
    width:58px;
    height:59px;
    border-radius:29px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:white;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
/*----- Hover Effects  and Animation -----*/
header a:hover,
span:hover{
    border-bottom:solid 1px white;
}
@-webkit-keyframes cimcima{
    0%{color:white;}
    38%{color:red;}
    51%{color:black;}
    100%{color:white;}
}
@keyframes cimcima{
    0%{color:white;}
    38%{color:red;}
    51%{color:black;}
    100%{color:white;}
}
.read-more:hover,
.icon-box:hover .circle{
    background-color:rgb(157, 157, 247);
}
.read-more:hover .button-arrow{
    font-size:16px;
}
.box:hover{
    background-color:white;
}
.box:hover p{
    color:black;
}
.box:hover img{
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
}
.arrow:hover{
    font-size:22px;
    background-color:rgb(157, 157, 247);
}
.button-wrapper-p1 button:hover,
.button-wrapper-p2 button:hover{
    background-color:#5863f888;
}
.footer-links a:hover,
.footer-links i:hover,
.copyright a:hover,
.website a:hover{
    color:white;
}
.icon-circle:hover{
    background-color:rgba(255, 255, 255, 0.377);
}
.map iframe:hover{
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
}
.icon-box a p:hover,
.header-wrapper i:hover{
    color:#5863F8;
}
